<section class="dento--blog-area mt-50">
    <div class="container">
        <div class="row justify-content-center marginAviso">
            <div class="col-12 col-lg-8 mb-100">
                <!-- Blog Details Area -->
                <div class="blog-details-area">
                    <img class="imgblog2 " src="{{ infoproducto.imgPro1.url }}" alt="imagen">

                    <h2 class="post-title mb-5">{{ infoproducto.nombreProducto  }}</h2>
                    <div class="post-meta">
                        <a href="#"><i class="icon_clock_alt"></i></a>
                    </div>
                    <p>{{ infoproducto.descripcion }}</p>

                </div>
            </div>
        </div>
    </div>
</section>




