{% extends "app/layouts/index.html" %}

{% block content %}
    <div class="row">
        <div class="col">image</div>
        <div class="col">
            <h2>{{ producto.nombre }}</h2>
            <p><span class="price">{{ producto.precio }}€</span></p>
            <p><a href="{% url 'app:carrito_agregar' producto.id %}" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Añadir al carrito</a></p>
            <p>{{ producto.descripcion }}</p>
        </div>
    </div>
{% endblock %}
