@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@300&family=Euphoria+Script&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #cfeae8;
  color: #16161a;
}


header {
  background: url('/static/img/bg-header.png') center top repeat-x;
  border-bottom: 10px solid #ff9398;
  padding-bottom: .5rem;
  padding-top: .5rem;
}
header .container { display: flex; }
header .logo a {
  background-image: url('/static/img/logo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 170px 170px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 170px;
  width: 170px;
  transition: 250ms all ease-out;
}
header .logo a span { display: none; }

header .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
header .menu .slogan {
  color: #878c94;
  font-family: 'Euphoria Script', cursive;
  font-size: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  margin-top: 1rem;
}

main {
  padding: 2rem 0;
}

main .products {
  border-bottom: 5px solid #ff9398;
  margin-bottom: 2rem;
  text-align: center;
}

main .products h2 {
  margin: 2rem 0;
}


footer {
  background-color: #099274;
  color: black;
  padding: 1.5rem;
}

footer h4 {
  color: white;
}

footer a {
  color: black;
}


.products .btn {
  border: transparent;
  background-color: #ff5377;
  color: #ffebcd;
}

.products h2 {
  font-family: 'Lobster', cursive;
  font-size: 2.5rem;
  color: black;
}

.products h3 a {
  color: #878c94;
  font-family: 'Lobster', cursive;
}

.products .price {
  font-size: 2rem;
}

/* Para que todas las imagenes sean del mismo tamaño */
.products .img-fluid {
  max-width: 100%;
  width: 314.750px;
  height: 314.750px;
}

.carousel-gallery .carousel-indicators {
  position: relative;
  bottom: 0;
  margin: 10px 0 0;
}
.carousel-gallery .carousel-indicators li {
  text-indent: inherit;
  width: 100px;
  height: 100px;
}
.carousel-gallery .carousel-indicators li img {
  border: 2px solid #e0dfd7;
  padding: 1px;
  height: 100px;
  width: 100px;
}

.product h2 {
  font-weight: bold;
}
.product .price {
  color: #086fcf;
  font-size: 3rem;
}
.product .btn-primary { margin-bottom: 1rem; }
.product .tab-content { margin-top: 1rem; }