* {
  margin: 0;
  padding: 0;
 
}

@media (min-width: 1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
  max-width: 1255px !important;
   
  }
}
@media (min-width: 1200px){
div.Contacarrousel{
  max-width: 1153px;
   
  }
}
@media (min-width: 1200px){
.container.ContaDestacados{
    max-width: 1160px;
   
  }
}
@media (min-width: 1200px){
div.container.prueba{
    max-width: 1261px;
   
  }
}



body{
            font-family: "montserratlight", sans-serif;
            background-color: #fff;
            color: #16161a;
            font-size: 81.25%;
            line-height: 184.61538%;
            overflow-x: hidden;
            position: relative;
}

div .dropdown-toggle {
  font-size: 22px;
}
.navbar-brand{
  color:black;
}
.carousel {
  margin-bottom: 0;
	padding: 0 40px 30px 40px;
}


.carousel-inner img {
 height: 625px;
margin: auto;


   
}



div.carousel-inner {
 
height: 625px;
margin: auto;
 
   
}
.carousel-inner{
  margin-top: 200px;
  height: auto;
}
div .flayer{
    height: 633px;
    width: 663px;
}

.product-block{
  margin-left: 80px;
}
.Contacarrousel {
  padding-top: 100px;
}
.carousel-inner img{
    width: 100%;
    height: 100%;
}


/*---------------------FIN -----------*/


/*------------Start Seccion destacados y new  sin card -----------*/
/* .imgDesta{
  -o-object-fit: cover;
    object-fit: cover;
    height: 250px;
    width: 200px;
}


.img-fluida {
  margin-bottom: -6px;
  cursor: pointer
}

.img-fluida:hover {
  opacity: 0.6;
  transition: 0.3s;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
} */

/*-----------------FIN DESTACADOS Y NUEVOS -----------*/


/*-----------------Start Productos -----------*/

div .row{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
   
   
   
}
.row{
  text-align: center;
width: 1246px;
}
div.esta{
  margin-left: 55px;
}



div .img-fluid {
    max-width: 100%;
    width: 314.750px;
    height: 314.750px;
}
img {
    border-style: none;
    width: 300px;
    height: auto;
}
  


body{
    margin-top: 20px;
}

.grid_1_4{
    text-align: center;
     border: 2px solid #EEE;
}

.picture{
    height: 200px;
}

.picture img{
    max-height: 100%;
    max-width: 100%;

}
.parrafos{
  font-size: 45px;
  color: #878c94;
  font-family: 'Lobster', cursive;
}
.fixed-top{
  position:2;
  
}

a{
    color: black !important;
    text-decoration: none;
    background-color: transparent;
}









/*FOOTER START///////////////////*/
.footer {
    padding: 50px 0 20px 0;
    background-color: rgb(6, 114, 90);
    color: #878c94;
}
.footer .title{
	text-align: left;
	color:#fff;
	font-size:25px;
}
.footer .social-icon{
	padding:0px;
	margin:0px;
}
.footer .social-icon a{
	display:inline-block;
	color:#fff;
	font-size:25px;
	padding:5px;
}
.footer .acount-icon a{
	display:block;
	color:#fff;
	font-size:18px;
	padding:5px;
	text-decoration:none;
}
.footer .acount-icon .fa{
	margin-right:25px;
}
.footer .category a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 5px 20px;
    margin: 1px;
    border-radius:4px;
    margin-top: 6px;
    background-color: black;
    border: solid 1px #fff;
}
.footer .payment{
	margin:0px;
	padding:0px;
	list-style-type:none
}
.footer .payment li{
	list-style-type:none
}
.footer .payment li a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    float:left;
    font-size: 25px;
    padding: 10px 10px;
}


hr.franjas{
 height:5px;
 border: none;
 background-color: #FF9398;
}



.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: #FF5377;
}
div.row.pie{
  text-align:left;
  padding-left: 150px;
}



div.col-sm-3.columnas {
    -ms-flex: 0 0 25%;
    flex: 2 0 29%;
    max-width: 32%;
    padding-left: 114px;
    padding-right: 0px;
}

div.col-sm-3.Fpagos {
    -ms-flex: 0 0 25%;
    flex: 2 0 29%;
    max-width: 30%;
    padding-left: 160px;
    padding-right: 0px;
}

/* Infoproducto */


.navbar {
    position: relative;
    z-index: 1000;
    min-height: 10px;
    margin-bottom: -82px;
}


div.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

div.dropdown-item{
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-size: 18px;
}
button.btn.productPage{
  color:blanchedalmond;
  background-color: #FF5377;
}
.fontboton{
    color:blanchedalmond!important;

}