* {
  margin: 0;
  padding: 0;
 
}


div .dropdown-toggle {
    font-size: 22px;
}
.navbar-brand{
    color:black;
}
.carousel {
    margin-bottom: 0;
	padding: 0 40px 30px 40px;
}


.carousel-inner img {
 height: 625px;
margin: auto;
   
   
}
div.carousel-inner {
 
height: 625px;
margin: auto;
 
   
}
.carousel-inner{
  margin-top: 200px;
  height: auto;
}
div .flayer{
    height: 633px;
    width: 663px;
}

span.carousel-control-prev-icon{
  background-color: rgb(145, 6, 52);
}
span.carousel-control-next-icon{
  color: #D67B1E;
  background-color: rgb(145, 6, 52);
}



.marginAviso{
  padding: 150px 30px 25px 30px; 
  background-color: #ffffff;
}
/*---------------------FIN -----------*/


/*------------Start Seccion destacados y new  sin card -----------*/
/* .imgDesta{
  -o-object-fit: cover;
    object-fit: cover;
    height: 250px;
    width: 200px;
}


.img-fluida {
  margin-bottom: -6px;
  cursor: pointer
}

.img-fluida:hover {
  opacity: 0.6;
  transition: 0.3s;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
} */

/*-----------------FIN DESTACADOS Y NUEVOS -----------*/


/*-----------------Start Productos -----------*/

div .row{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
   
   
}
.row{
  text-align: center;
width: 1246px;
}
div.esta{
  margin-left: 55px;
}



div .img-fluid {
    max-width: 100%;
    width: 314.750px;
    height: 314.750px;
}
img {
    border-style: none;
    width: 300px;
    height: auto;
}
  


body{
    margin-top: 20px;
}

.grid_1_4{
    text-align: center;
     border: 2px solid #EEE;
}

.picture{
    height: 200px;
}

.picture img{
    max-height: 100%;
    max-width: 100%;
}

.parrafos{
  font-family: 'Open Sans', sans-serif;
}





