{% if productos %}
    <div class="products">
        <h2>{{ titulo }}</h2>
        <div class="row">
            {% for producto in productos %}
            <div class="col-md-3 col-6">
                <a href="{% url 'app:producto' producto.id %}">
                    <img src="{{ producto.imagen1.url }}" class="img-fluid">
                </a>
                <div class="details mt-3">
                    <h3><a href="{% url 'app:producto' producto.id %}">{{ producto.nombre }}</a></h3>
                    <p><span class="price">{{ producto.precio }}€</span></p>
                    <p><a href="{% url 'app:producto' producto.id %}" class="btn btn-primary">Ver detalles</a></p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endif %}